.btn{
  font-size: 35px !important;
  border-radius: 8px !important;
}
.btn-danger{
  margin-top: 10%;
}

h4{
  text-align: center;
}
.personnage1{
  margin-top: 15%;
  width: 80%;
}
.personnage2{
  margin-top: 15%;
  width: 80%;
}
.personnage3{
  margin-top: 15%;
  width: 80%;
}
.justify{
  text-align: justify;
  font-size: 15px;
  margin-top: 7%;
}
h1{
  text-align: center;
}
